body {
    margin: 0;
    background-color: #000;
}

.firstBlock {
    text-align: center;
    height: 828px;
    background-color: #de2b24;
}

.secondBlock {
    text-align: center;
    height: 848px;
    background-color: #1287bf;
}

.getInTouchBlock {
    height: 490px;
    background-color: #2a2a2a;
    text-align: center;
}

footer {
    height: 67px;
    background-color: #515151;
    text-align: center;
}

p.footer {
    margin: 0;
    padding: 20px;
    font-size: 14px;
    line-height: 27px;
    color: #cecece;
    font-weight: 400;
    font-family: "Open Sans";
}

h2 {
    margin: 0;
    padding-top: 90px;
    padding-bottom: 10px;
    font-size: 36px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Open Sans";
    text-align: center;
}

h3 {
    margin: 0;
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 29px;
    line-height: 22px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Open Sans";
}

h4 {
    width: 520px;
    height: 76px;
    font-size: 15px;
    line-height: 22px;
    color: #828282;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
    padding-top: 30px;
    font-weight: 400;
}

h5 {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Open Sans";
    text-align: center;
    font-weight: 100;
}

h6 {
    font-size: 14px;
    line-height: 22px;
    color: #cecece;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.icon {
    margin-left: 10px;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 1px;
    background-color: rgba(243, 243, 243, 0);
    border: 2px solid #515151;
}

.icon:hover {
    border: 2px solid #de2b24;
}

.icon>img {
    padding-top: 10px;
}

.email {
    border: none;
    width: 683px;
    height: 54px;
    border-radius: 1px;
    background-color: #515151;
}

.email::placeholder {
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #cecece;
    font-weight: 400;
    font-family: "Open Sans";
}

.subscribe {
    margin-top: 20px;
    width: 149px;
    height: 49px;
    border-radius: 1px;
    background-color: rgba(243, 243, 243, 0);
    border: 2px solid #515151;
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Open Sans";
    text-align: center;
}

.subscribe:hover {
    border: 2px solid #de2b24;
}

.ellipse {
    margin: auto;
    margin-top: 20px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #ffffff;
}

.ellipse>div>.arrow:hover {
    cursor: pointer;
    border-top: 1.5px solid #de2b24;
    border-right: 1.5px solid #de2b24;
}

.ellipse>div {
    padding-top: 17px;
    padding-left: 22px;
}

.arrow {
    width: 14px;
    height: 14px;
    border-top: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
    margin-right: 60px;
    transform: rotate(135deg);
}

.form {
    width: 683px;
    height: 429px;
    border-radius: 3px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 60px;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid #fff;
    margin-top: -40px;
    margin-left: 272px;
    position: absolute;
}

.X {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #de2b24;
    border: 2px solid #ffffff;
    margin-top: -20px;
    margin-left: 652px;
    position: absolute;
}

.X>h1:hover {
    color: #1287bf;
    cursor: pointer;
}

.X>h1 {
    margin: 0;
    padding-top: 10px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans";
}

.input {
    width: 443px;
    height: 50px;
    border-radius: 3px;
    background-color: rgba(241, 241, 241, 0);
    border: 1px solid #d8d8d8;
    margin-bottom: 7px;
}

.input:hover {
    border: 1px solid #1287bf;
    cursor: pointer;
}

.input::placeholder {
    font-size: 14px;
    line-height: 60px;
    color: #b0b0b0;
    font-family: "Helvetica";
}

.submit {
    width: 161px;
    height: 46px;
    border-radius: 3px;
    background-color: #de2b24;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica Neue";
    border: none;
    margin-top: 30px;
}

.submit:hover {
    color: #1287bf;
    cursor: pointer;
}

.line {
    width: 47px;
    height: 5px;
    background-color: #f3f3f3;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.firstline {
    margin: auto;
}

.firstline>div {
    width: 16.3%;
    height: 253px;
    position: absolute;
}

.firstline>div:hover {
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
}

.secondline {
    margin: auto;
    margin-top: 293px;
}

.secondline>div {
    width: 16.3%;
    height: 253px;
    position: absolute;
}

.secondline>div:hover {
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
}

.firstline>.first {
    background-color: #f35e59;
    margin-left: 17.4%;
}

.firstline>.second {
    margin-left: 33.7%;
}

.firstline>.third {
    background-color: #f35e59;
    margin-left: 50%;
}

.firstline>.forth {
    margin-left: 66.3%;
}

.secondline>.first {
    margin-left: 17.4%;
}

.secondline>.second {
    background-color: #f35e59;
    margin-left: 33.7%;
}

.secondline>.third {
    margin-left: 50%;
}

.secondline>.forth {
    background-color: #f35e59;
    margin-left: 66.3%;
}

.firstline>.first>img {
    padding-top: 60px;
}

.firstline>.third>img {
    padding-top: 60px;
}

.secondline>.second>img {
    padding-top: 60px;
}

.secondline>.forth>img {
    padding-top: 60px;
}

.pName {
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica Neue";
    text-align: center;
    margin-bottom: 0;
}

.name {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica Neue";
    text-align: center;
    margin-top: 0;
}

.box {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.box img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 320px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}
